.card {
  width: 792px;
  height: 46px;
  background: #fff;
  border-radius: 12px;
  border: 1px solid #eee;
}

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;

  color: #191919;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}
